:root {
  --negro: #211f1f;
  --blanco: #ebe5e5;
  --gris: #232323;
  --rojo: #873333;
  --gristransp: rgba(55, 55, 55, 0.626);
  --letras: rgb(193, 193, 193);
}
@font-face {
  font-family: "skate";
  src: url(../fonts/skateboarder-7bl3v-webfont.woff2);
}
@font-face {
  font-family: "suice";
  src: url(../fonts/eyeswidesuicide-vvzm-webfont.woff2);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: 0.2px;
  line-height: 18px;
}
html {
  scroll-behavior: smooth;
}
.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  display: flex;
  position: absolute;
  z-index: 1000;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.174);
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-right: 20px;
}
nav ul li {
  padding: 5px;
  font-family: suice;
  letter-spacing: 1px;
  font-size: 45px;
  /* color: var(--blanco); */
}
a {
  text-decoration: none;
  color: var(--blanco);
  transition: all 0.5s;
}
a:hover {
  color: var(--rojo);
  text-decoration: none;
}
h1 {
  font-size: 140px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
#logo {
  height: 65px;
}
#principal {
  background-image: url(../img/sectionPrincipalBack.jpg);
  height: 60vh;
  background-attachment: fixed;
  padding-top: 20%;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  font-family: suice;
  letter-spacing: 2px;
  align-items: center;
  background-size: cover;
  color: var(--blanco);
  line-height: 40px;
}
#sectionSecundario {
  background-image: url(../img/secSec1.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: rgb(193, 193, 193);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.5px;
}
#divSecundario {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.5px;
}
#artSecundario {
  padding: 30px;
  margin-left: 10px;
  background-color: var(--gristransp);
  border-radius: 4px;
  line-height: 40px;
}
#elEventoImg {
  width: 580px;
}
#divArtSec {
  display: flex;
  padding: 20px;
}
.divArtSec2 {
  padding: 5px;
  font-size: 20px;
}
.pTitSec {
  font-weight: 900;
}
#servicios {
  padding-top: 20px;
  background-image: url(../img/service1.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#servdiv {
  width: 1200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#articleServ {
  color: var(--letras);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 70px;
}
#articleServ h2 {
  align-self: flex-start;
}
#gridServ {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px 200px;
  gap: 10px;
}
#gridServ article {
  background-color: var(--gristransp);
  border-radius: 8px;
  padding: 8px;
  color: var(--letras);
}
#gridServ article p {
  margin-top: 10px;
}
#grsr1 {
  grid-column: 1;
  grid-row: 1;
}
#grsr2 {
  grid-column: 2;
  grid-row: 1;
}

#grsr3 {
  grid-column: 3;
  grid-row: 1;
}
#grsr4 {
  grid-column: 1;
  grid-row: 2;
}
#grsr5 {
  grid-column: 2;
  grid-row: 2;
}
#artistas {
  height: 100%;
  /* generado con una herramienta web https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #2d2d2d;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #030303 25%, transparent 25%, transparent 75%, #030303 75%, #030303), repeating-linear-gradient(45deg, #030303 25%, #2d2d2d 25%, #2d2d2d 75%, #030303 75%, #030303);
  background-position: 0 0, 31px 31px;
  background-size: 62px 62px;
  color: var(--blanco);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#articleArt {
  display: flex;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#listaArtistas {
  align-self: center;
  margin-top: 50px;
  width: 1200px;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
}
#listaArtistas thead tr {
  background-color: #424242e3;
  text-align: left;
}
#listaArtistas tbody tr:last-of-type {
  border-bottom: 9px solid #424242e3;
}
#listaArtistas th {
  padding: 15px;
}
#listaArtistas td {
  padding: 15px;
}
#listaArtistas figure {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  align-items: center;
}
#listaArtistas figure img {
  width: 40px;
  border-radius: 25px;
}
#gridArtistas {
  margin-top: 55px;
  align-self: center;
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px 300px;
  grid-gap: 15px;
  margin-bottom: 30px;
}
#gridArtistas figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#gridArtistas figure:nth-child(1) {
  grid-row-start: span 2;
}
#gridArtistas figure:nth-child(2) {
  grid-column-start: span 2;
}
#gridArtistas figure:nth-child(4) {
  grid-row-start: span 2;
}
