:root {
  --negro: #211f1f;
  --blanco: #ebe5e5;
  --gris: #232323;
  --rojo: #873333;
  --gristransp: rgba(55, 55, 55, 0.626);
  --letras: rgb(193, 193, 193);
}
@font-face {
  font-family: "skate";
  src: url(../fonts/skateboarder-7bl3v-webfont.woff2);
}
@font-face {
  font-family: "suice";
  src: url(../fonts/eyeswidesuicide-vvzm-webfont.woff2);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: 0.2px;
  line-height: 18px;
}
html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  position: absolute;
  z-index: 1000;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.174);
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-right: 20px;
}
nav ul li {
  padding: 5px;
  font-family: suice;
  letter-spacing: 1px;
  font-size: 45px;
  /* color: var(--blanco); */
}
a {
  text-decoration: none;
  color: var(--blanco);
  transition: all 0.5s;
}
a:hover {
  color: var(--rojo);
  text-decoration: none;
}
h1 {
  font-size: 140px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
#logo {
  height: 65px;
}
#principal {
  background-image: url(../img/sectionPrincipalBack.jpg);
  height: 60vh;
  background-attachment: fixed;
  padding-top: 20%;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  font-family: suice;
  letter-spacing: 2px;
  align-items: center;
  background-size: cover;
  color: var(--blanco);
  line-height: 40px;
}
/* Separo section y div por prolijidad */
#elEvento {
  background-image: url(../img/secSec1.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: rgb(193, 193, 193);
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
}
#divEvento {
  width: 1400px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.5px;
}
#divAEventos {
  padding: 30px;
  margin-left: 10px;
  background-color: var(--gristransp);
  border-radius: 4px;
  line-height: 40px;
}
#divEvento figure img {
  width: 580px;
}
#divEventoInfo {
  display: flex;
  padding: 20px;
}
#divEventoInfo div {
  padding: 5px;
  font-size: 20px;
}
/* Separo section y div por prolijidad */
#servicios {
  padding-top: 20px;
  background-image: url(../img/service1.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#divServicios {
  width: 1200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#divTituloServicios {
  color: var(--letras);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
#divTituloServicios h2 {
  align-self: flex-start;
}
#gridServicios {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  margin-bottom: 60px;
}
#gridServicios article {
  background-color: var(--gristransp);
  border-radius: 8px;
  padding: 8px;
  color: var(--letras);
}
#gridServicios article p {
  margin-top: 10px;
}
#artistas {
  height: 100%;
  /* generado con una herramienta web https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #000000;
  opacity: 1;
  background-image: repeating-linear-gradient(
      45deg,
      #0e0e0e 25%,
      transparent 25%,
      transparent 75%,
      #0e0e0e 75%,
      #0e0e0e
    ),
    repeating-linear-gradient(
      45deg,
      #0e0e0e 25%,
      #000000 25%,
      #000000 75%,
      #0e0e0e 75%,
      #0e0e0e
    );
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
  color: var(--blanco);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#divArtistas {
  display: flex;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#listaArtistas {
  align-self: center;
  margin-top: 50px;
  width: 1200px;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
}
#listaArtistas thead tr {
  background-color: #242424e3;
  text-align: left;
}
#listaArtistas tbody tr:last-of-type {
  border-bottom: 9px solid #242424e3;
}
#listaArtistas th {
  padding: 15px;
}
#listaArtistas td {
  padding: 15px;
}
#listaArtistas figure {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  align-items: center;
}
#listaArtistas figure img {
  width: 40px;
  border-radius: 25px;
}
#gridArtistas {
  margin-top: 55px;
  align-self: center;
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-gap: 15px;
  margin-bottom: 30px;
}
#gridArtistas figure {
  position: relative;
}
#gridArtistas figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
#gridArtistas figure:nth-child(1) {
  grid-row-start: span 2;
}
#gridArtistas figure:nth-child(2) {
  grid-column-start: span 2;
}
#gridArtistas figure:nth-child(4) {
  grid-row-start: span 2;
}
#gridArtistas figure figcaption {
  /* en el wireframe está mas hacia el centro de la imagen, lo pongo al borde porque me parece que es más estetico, aunque yo directamente no podríá figcaption */
  position: absolute;
  font-size: 30px;
  background-color: var(--gristransp);
  padding: 15px;
  border-radius: 12px;
  bottom: 0;
  right: 0;
}
#tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--letras);
  background-color: #0e0e0e;
  padding-top: 90px;
  padding-bottom: 100px;
}
#tickets h2 {
  font-size: 55px;
}
.listaTickets {
  width: 1200px;
  display: flex;
  gap: 50px;
  margin-top: 70px;
  justify-content: space-between;
}
.divTickets {
  padding: 15px;
  border-radius: 4px;
  background-color: var(--gristransp);
/*   gap: 30px; */
  line-height: 40px;
  font-size: x-large;
}
.divTickets div {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 550px;
}
.divTickets div article ul li {
  list-style-image: url(../img/li.png);
}
.divTickets input[type="button"] {
  transition-duration: 1s;
  width: 100%;
  height: 40px;
  background-color: var(--gris);
  color: var(--letras);
  border-radius: 20px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.divTickets input[type="button"]:hover {
  background-color: #000000;
}
#novedades {
  background-color: var(--gris);
  display: flex;
  justify-content: center;
}
#novedadesAuxiliar {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding-top: 40px;
  justify-content: center;
  padding-bottom: 40px;
  color: var(--letras);
  width: 1200px;
}
.novedadesMain {
  background-color: var(--gristransp);
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.novedadesMain h2 {
  font-size: xx-large;
  margin-bottom: 20px;
}
.novedadesMain p {
  font-size: large;
}
#formNovedades label {
  font-size: large;
  display: block;
  margin-top: 20px;
}
#formNovedades input[type="text"],
#formNovedades input[type="email"] {
  width: 100%;
  height: 30px;
  background-color: var(--gristransp);
  border-radius: 10px;
  padding: 3px;
  font-size: 20px;
  border: none;
}
#formNovedades input[type="radio"],
#formNovedades input[type="checkbox"] {
  width: 30px;
  margin-top: 10px;
}
#formNovedades input[type="radio"] + label,
#formNovedades input[type="checkbox"] + label {
  display: inline;
}
.redes {
  /* con esto suma 1200px de ancho fijo */
  width: 580px;
}
#formNovedades fieldset {
  margin-top: 20px;
  border: none;
  font-size: large;
}
#formNovedades input[type="submit"] {
  margin-top: 20px;
  transition-duration: 1s;
  width: 100%;
  height: 40px;
  background-color: var(--gris);
  color: var(--letras);
  border-radius: 20px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
#formNovedades a {
  border-bottom: 1px solid var(--letras);
}
#formNovedades input[type="submit"]:hover {
  background-color: #000000;
}
.redes {
  background-color: var(--gristransp);
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
.redes h3 {
  font-size: x-large;
}
.redes ul {
  display: flex;
  gap: 20px;
}
.redes ul li {
  list-style: none;
}
.redes ul li img {
  padding: 3px;
  /* no me gusta para nada ese borde pero lo pongo por las dudas */
  border: 3px solid var(--letras);
  width: 50px;
}
#foot {
  background-color: var(--negro);
  color: var(--letras);
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}
